<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>everyCODE 메인</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/nav.css">
   
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<nav th:replace="fragments/nav :: nav"></nav>

    <section class="banner-slider">
	  <div class="slider">
	    <div class="slide active">
	      <img src="/images/banner01.png" alt="배너1">
	      <div class="text">
	        <span class="tag">동의대 미래교육원</span>
	        <h2>2025 삼성메디슨 상반기<br>3급 신입사원/대학생 인턴 채용</h2>
	        <p>모집기간: 05.12(월)~05.21(수)</p>
	      </div>
	    </div>
	    <div class="slide">
	      <img src="/images/banner02.png" alt="배너2">
	      <div class="text">
	        <span class="tag">동의대 미래교육원</span>
	        <h2>2024 현대모비스<br>알고리즘 경진대회</h2>
	        <p>모집기간: 06.01(토)~06.30(일)</p>
	      </div>
	    </div>	 
	    <div class="slide">
	      <img src="/images/banner03.png" alt="배너3">
	      <div class="text">
	        <span class="tag">동의대 미래교육원</span>
	        <h2>2024 현대모비스<br>알고리즘 경진대회</h2>
	        <p>모집기간: 06.01(토)~06.30(일)</p>
	      </div>
	    </div>	 
	  </div>
	  <div class="dots">
	    <span class="dot active"></span>
	    <span class="dot"></span>
	    <span class="dot"></span>
	  </div>
	</section>

    <section class="jobs">
        <div class="section-header">
            <h3>프로그램</h3>
            <a href="#">더 보기 ></a>
        </div>
        <div class="cards">
            <div class="card">
                <img src="/images/card01.png" alt="카드1">
                <div class="card-content">
                    <h4>2025 에브리코드 코드챌린지</h4>
                    <p>접수일: 25-01-08(월) ~ 25-02-05(월) 17:00</p>
                    <p>시험일: 25-02-08(목) ~ 25-02-15(목) 16:00</p>
                    <button>자세히 보기</button>
                </div>
            </div>
            <div class="card">
                <img src="/images/card01.png" alt="카드2">
                <div class="card-content">
                    <h4>2025 에브리코드 알고리즘 경진대회</h4>
                    <p>접수일: 25-05-28(화) 09:00 ~ 25-06-25(화) 23:59</p>
                    <p>시험일: 25-06-28(금) 14:00 ~ 25-07-05(금) 16:00</p>
                    <button>자세히 보기</button>
                </div>
            </div>
        </div>
    </section>

        <div th:replace="fragments/footer :: footer"></div>
        <script src="/js/main.js" defer></script>
        <script src="/js/nav.js" defer></script>
       
</body>
</html>
