<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>자유게시판 - everyCODE</title>
  <link rel="stylesheet" href="/css/free.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
  <header th:replace="fragments/header :: header"></header>
  <nav th:replace="fragments/nav :: nav"></nav>

  <main>
    <h2 class="page-title">자유게시판</h2>
	
	<div class="filter-bar">
	  <button class="write-btn">작성하기</button>
	
	  <div class="search-box">
	    <input type="text" placeholder="게시글 제목 검색">
	    <button class="search-btn">🔍</button>
	  </div>
	</div>

	<ul class="post-list">
	  <li class="post-item" th:each="free : ${free}" th:data-id="${free.b_id}">
	    <div class="post-title">
	      <strong th:text="${free.b_title}">2번 틀리시는 분 보세요</strong>
	      <!-- <span class="new-label">N</span> -->
	    </div>
	    <p class="post-preview" th:text="${free.b_content}">이분석 최대 크기 설정이 잘못됐을 겁니다. 대충 끝점을 4 * 10^14로 맞추세요</p>
	    <div class="post-meta">
	      <span class="info" th:text="'1분 전 · ' + ${free.user_id}">36분 전 · ckdrjs2</span>
	    </div>
	  </li>
	
	  <!-- <li class="post-item" data-id="2">
	    <div class="post-title">
	      <strong>다이어트 11일차</strong>
	      <span class="new-label">N</span>
	    </div>
	    <p class="post-preview">닥치고 매일 러닝 3km 뛰세요. 지금은 이재명!</p>
	    <div class="post-meta">
	      <span class="info">2시간 전 · jdj71@gmail.com</span>
	    </div>
	  </li>
	
	  <li class="post-item" data-id="3">
	    <div class="post-title">
	      <strong>[C] 모듈러 방향 회전 기본으로 짧고 간결한 처리</strong>
	      <span class="new-label">N</span>
	    </div>
	    <p class="post-preview">서양의 switch문 모든 condition을 다 생각했는데 역시 gpt는 똑똑하네요. 모듈러 방향 회전 기본으로 긴 switch문을 완벽히 대체하고 가독성도 좋아졌네요.</p>
	    <div class="post-meta">
	      <span class="info">3시간 전 · 돌인철</span>
	    </div>
	  </li>
	
	  <li class="post-item" data-id="4">
	    <div class="post-title">
	      <strong>이거뭐죠</strong>
	    </div>
	    <p class="post-preview">답은 이상합니다.</p>
	    <div class="post-meta">
	      <span class="info">4시간 전 · 상민기니</span>
	    </div>
	  </li>
	
	  <li class="post-item" data-id="5">
	    <div class="post-title">
	      <strong>문제 자꾸 틀려서 보니 30일 이상인데 29일 이상이면 통과되는 것 같습니다.</strong>
	    </div>
	    <p class="post-preview">SELECT HISTORY_ID, CAR_ID, DATE_FORMAT(START_DATE, '%Y-%m-%d') ...</p>
	    <div class="post-meta">
	      <span class="info">6시간 전 · siiii0@kakao.com</span>
	    </div>
	  </li> -->
	</ul>

<!--     <div class="pagination">
      <a href="#">Prev</a>
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">Next</a>
    </div> -->
  </main>

  <div th:replace="fragments/footer :: footer"></div>
  <script src="/js/nav.js" defer></script>
  <script src="/js/free.js" defer></script>
  <script src="/js/login.js" defer></script>
</body>
</html>
