<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>사용자 출제 문제 - everyCODE</title>
  <link rel="stylesheet" href="/css/create_Q.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
  <header th:replace="fragments/header :: header"></header>
  <nav th:replace="fragments/nav :: nav"></nav>

  <main class="create-container">
    <h2 class="page-title">사용자 출제 문제</h2>

    <form class="create-form">
      <label>제목 *</label>
      <input type="text" placeholder="문제 제목을 입력해주세요.">

      <div class="row">
        <div class="half">
          <label>언어 *</label>
          <select>
            <option>출제 언어 선택</option>
            <option>JAVA</option>
            <option>Python</option>
            <option>C++</option>
          </select>
        </div>
        <div class="half">
          <label>제약조건</label>
          <select id="limitType">
            <option>선택</option>
            <option value="time">시간 제한</option>
            <option value="memory">메모리 제한</option>
          </select>
        </div>
        <div class="half">
          <input id="limitValue" type="text" placeholder="단위: 초" style="display: none;">
        </div>
      </div>

      <label>문제 설명 *</label>
      <textarea placeholder="내용을 입력해주세요."></textarea>

      <label>입력 설명 *</label>
      <textarea placeholder="입력의 순서, 개수, 자료형, 범위 등을 명확하게 기재하세요."></textarea>

      <label>출력 설명 *</label>
      <textarea placeholder="정확한 출력 포맷(띄어쓰기, 개행포함)을 작성해주세요."></textarea>

      <label>예제 입력 1 *</label>
      <textarea placeholder="한 줄씩 또는 공백 포함 입력 가능"></textarea>

      <label>예제 출력 1 *</label>
      <textarea placeholder="출력 결과를 그대로 기재해주세요."></textarea>

      <label>예제 설명 1</label>
      <textarea placeholder="어떻게 도출됐는지 간단한 해설을 적어주세요."></textarea>

      <button type="button" id="add-example">+ 예제 추가</button>

      <label>정답 코드 *</label>
      <textarea placeholder="테스트 통과 가능한 코드를 제출해주세요(검토용, 문제에 공개되지않음)."></textarea>

<label>사진 첨부</label>
<div class="image-upload-wrapper">
  <div id="imagePreviewContainer" class="preview-container"></div>
  <div class="image-upload add-box" id="addImageBox">
    <label for="imageInput" class="plus-icon">+</label>
    <input type="file" id="imageInput" accept="image/*" multiple>
  </div>
</div>

      <button type="submit" class="submit-btn">검토 요청</button>
    </form>
  </main>

  <footer th:replace="fragments/footer :: footer"></footer>
    <script src="/js/nav.js" defer></script>
  <script src="/js/create_Q.js" defer></script>
  
<div id="resultModal" class="modal-overlay" style="display: none;">
  <div class="modal-content">
    <p class="modal-message"></p>
    <button class="modal-button" id="modalActionBtn">확인</button>
  </div>
</div>
  
</body>
</html>
