<!-- fragments/mypage_header.html -->
<div th:fragment="mypageHeader" class="user-info">
  <div class="left">
<span th:if="${currentPath == '/mypage'}" class="menu-selected">| 마이페이지</span>
<a th:if="${currentPath != '/mypage'}" href="/mypage" class="menu-link">마이페이지</a>

<span th:if="${currentPath == '/mypage/edit'}" class="menu-selected">| 정보 수정</span>
<a th:if="${currentPath != '/mypage/edit'}" href="/mypage/edit" class="menu-link">정보 수정</a>

    <div class="user-profile">
      <img src="/images/default-profile.png" alt="프로필" class="profile-img">
      <span class="username" th:text="${username}">user01</span>
    </div>
  </div>

  <div class="right">
    <select class="year-select">
      <option selected>연도</option>
      <option>2025</option>
      <option>2024</option>
    </select>
  </div>
</div>
