<nav class="nav" th:fragment="nav">
<ul class="nav-menu">
  <li class="nav-item" data-menu="coding">코딩 테스트</li>
  <li class="nav-item" data-menu="board">게시판</li>
  <li class="nav-item" data-menu="ranking">랭킹</li>
</ul>

	<div class="dropdown-wrapper" id="dropdown" onmouseleave="hideMenu()">
	  <div class="dropdown-content coding">
	    <a href="/codingtest/basic_Q">기본 문제</a>
		<a href="/codingtest/past_Q">기출 문제</a>
		<a href="/codingtest/user_Q">사용자 출제 문제</a>
	  </div>
	  <div class="dropdown-content board">
	    <a href="/board/free">자유 게시판</a>
	    <a href="/board/qna">문제 Q&A</a>
	    <a href="/board/error">문제 오류</a>
	    <a href="/board/notice">공지사항</a>
	  </div>
	  <div class="dropdown-content ranking">
	    <a href="/ranking/org">학교/회사</a>
	    <a href="/ranking/level">개인</a>
	  </div>
	</div>

</nav>
